<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!--This is a comment. Comments are not displayed in the browser-->

<!--<h1> {{lists}} <h1>-->
<h1>Past Lists</h1>
{% for grocery_list in debug %}
<h2>{{grocery_list.title}}</h2>
  {% for each_food in grocery_list.foods%}
    {%set food_info = each_food.get()%}
    <p>{{food_info.food}}</p>
    <p>{{food_info.expirationDate}}</p>
  {% endfor %}
{% endfor %}
  </body>
</html>
