<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="food" method="post">
      <input type = "input" name = "title" placeholder="Enter List Title Here" >
      <br></br>
            <input type="input" name="food-name" placeholder="Enter the food name">
            <input type="date" name="expirationDate"></input>
          <input type="submit" name="saveToDB" value="Save">
    </form>
    <!-- {% for grocery_list in edit_list %}
    <button type = "button">{{grocery_list.title}}</button>
      {% for each_food in grocery_list.foods%}
        {%set food_info = each_food.get()%}
        <p>{{food_info.food}}</p>
        <p>{{food_info.expirationDate}}</p>
      {% endfor %}
    {% endfor %} -->
  </body>
</html>
